<div class="grid grid-cols-1 mb-4">
    <p class="text-center text-xs text-gray-400 font-normal mt-1 mb-2">
        Choose a season and view data for each event<br>
        </p>
      <label class="select-none relative cursor-pointer ">
         <input id="seasonToggle" type="checkbox" class="sr-only peer" [(ngModel)]="seasonToggle" (ngModelChange)="changeEvent()">
         <div class="grid grid-cols-2 items-center w-full h-10 bg-blue-950  after:border-b-4 after:border-orange-400 rounded-t-lg  
         peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full  after:content-[''] after:absolute after:top-0 after:start-[0px]   
         after:rounded-none after:h-10 after:w-1/2 after:transition-all ">
            <div class="flex text-white h-full items-center justify-center font-bold">Outdoor</div>
            <div class="flex text-white h-full items-center justify-center font-bold">Indoor</div>
         </div>
      </label>

    <label for="events" class="block text-sm font-medium text-gray-900 mt-2"></label>
        <select id="events" (change)="changeEvent()"  [(ngModel)]="selectedEvent" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5    dark:text-white">
            <option selected>Choose event</option>
        <option *ngFor="let event of eventMapping" >{{ event.displayName }}</option>
    </select> 
</div> 

 <div class="relative min-h-fit  flex-col flex items-center justify-center  h-96 mb-4 rounded bg-gray-50 ">
   <app-bar-chart></app-bar-chart>

   <p class="ms-3 pt-2 pb-2 text-xs font-medium text-gray-400 ">This bar graph shows dates along with how many top 16 performances have occured on that date across all years.
    This is useful to see when in the season people have their best performances (or NCAA qualifying performances in the case of indoor) </p>
</div>